{
  "extends": "airbnb",
  "plugins": [
    "babel",
    "jsx-a11y",
    "react",
    "import"
  ],
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
