/** CONTROL BUTTONS **/
.control_button {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: #869198;
  border: 0;
  border-radius: 50%;
}
.control_button-up {
  top: 25px;
  left: calc(50% - 25px);
}
.control_button-right {
  top: calc(50% - 25px);
  right: 25px;
}
.control_button-down {
  bottom: 25px;
  left: calc(50% - 25px);
}
.control_button-left {
  top: calc(50% - 25px);
  left: 25px;
}
