/** CONTROL BUTTONS **/
.control_button {
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: #869198;
  border: 0;
  border-radius: 50%;
  font-size: 36px;
}
.control_button-up, .control_button-forward {
  top: 15px;
  left: calc(50% - 30px);
}
.control_button-right {
  top: calc(50% - 30px);
  right: 15px;
}
.control_button-down, .control_button-backward {
  bottom: 15px;
  left: calc(50% - 30px);
}
.control_button-left {
  top: calc(50% - 30px);
  left: 15px;
}
