.wrapper {
  position: relative;
  margin: 0 auto;
}

.header {
  background: #1A1110;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0;
  font-size: 34px;
  font-family: 'Montserrat', sans-serif;
}

.controller {
  position: relative;
  display: block;
  height: 800px;
}

/** Handles **/
.handle_right {
  position: absolute;
  height: 230px;
  width: 119px;
  background-color: #1A1110;
  transform: rotate(8deg);
  top: 139px;
  left: 124px;
  z-index: 2;
}
.handle_left {
  position: absolute;
  height: 230px;
  width: 119px;
  background-color: #1A1110;
  transform: rotate(-8deg);
  top: 139px;
  left: 17px;
  z-index: 2;
}
.handle_bottom {
  height: 200px;
  width: 200px;
  background-color: #1A1110;
  border-radius: 50%;
  position: absolute;
  top: 250px;
  left: calc(50% - 100px);
}

/** CONTROL BUTTONS **/
.control_button {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: #1A1110;
  border: 0;
  border-radius: 50%;
}
.control_button-up {
  top: 35px;
  left: calc(50% - 25px);
}
.control_button-right {
  top: calc(50% - 25px);
  right: 35px;
}
.control_button-down {
  top: 150px;
  left: calc(50% - 25px);
}
.control_button-left {
  top: calc(50% - 25px);
  left: 35px;
}

/** ACTION BUTTONS **/
.actions {
  width: 100%;
}
.action_button {
  height: 50px;
  width: 100px;
  background-color: #869198;
  border: 0;
  border-radius: 5px;
  margin: 0 5px;
  color: white;
}
.action_button-red {
  background-color: rgba(211, 81, 81, 0.63);
}


/** Joypad **/
.joypad {
  position: absolute;
  height: 260px;
  width: 260px;
  background-color: #1A1110;
  border-radius: 50%;
  z-index: 2;
  top: 200px;
  box-shadow: 0 0 20px -5px #869198;
}
.cover {
  position: absolute;
  height: 230px;
  width: 230px;
  top: 20px;
  left: calc(50% - 115px);
  background-color: #869198;
  z-index: 2;
  border-radius: 50%;
  box-shadow: 0 0 10px -5px #004c7f;
}
.joypad-left {
  left: calc(50% - 410px);
  transform: rotate(20deg);
}
.joypad-left .cover {
  transform: rotate(-20deg);
}
.joypad-right {
  left: calc(50% + 150px);
  transform: rotate(-20deg);
}
.joypad-right .cover {
  transform: rotate(20deg);
}
.joypad-mid {
  position: absolute;
  height: 230px;
  width: 420px;
  background-color: #1A1110;
  top: 230px;
  left: calc(50% - 210px);
  z-index: 1;
  padding: 20px 70px;
  box-sizing: border-box;
  text-align: center;
}
.logo {
  width: 100px;
  margin: 10px;
}

/** WIRE **/
.wire {
  position: absolute;
  height: 200px;
  width: 260px;
  border-radius: 50%;
  top: 110px;
  left: calc(50% - 20px);
  border-width: 10px 10px 10px 5px;
  border-color: transparent transparent transparent #333;
  border-style: solid solid solid solid;
  z-index: -1;
}
.wire:after {
  content: '';
  position: absolute;
  height: 200px;
  width: 260px;
  border-radius: 50%;
  top: -126px;
  left: calc(50% - 355px);
  border-width: 10px 5px 10px 5px;
  border-color: transparent #333 transparent transparent;
  border-style: solid solid solid solid;
}
.wire:before {
  content: '';
  position: absolute;
  height: 200px;
  width: 260px;
  border-radius: 50%;
  top: -241px;
  left: calc(50% - 134px);
  border-width: 10px 10px 10px 5px;
  border-color: transparent transparent transparent #333;
  border-style: solid solid solid solid;
}

/** Tagline **/
.tagline {
  padding: 0 30px 30px;
}

.tagline_logo {
  float: right;
  width: 50px;
  height: auto;
  fill: #004c7f;
}

.logo_dot {
  fill: #fff;
}
