body {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 26px;
  background-color: #19A3FF;
}

html, body {
  padding: 0;
  margin: 0;
}

button {
  font: inherit;
}

button:focus {
  outline:0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
}
